h1 {color: #f00; font-weight: normal}
h2 {color: #f00; font-weight: normal}
h3 {color: #f00; font-weight: normal}
h4 {color: #f00; font-weight: normal}
h5 {color: #f00; font-weight: normal}
h6 {color: #f00; font-weight: normal}